$color: white;
$color-gray: lighten(lightgray, 13);
$color-primary: rgb(23, 92, 133);
$color-secondary: white;
$color-progress: lighten($color-primary, 20);

$media-mobile: 600px;
$media-mobile-xs: 425px;